# An Exploratory Data Analysis on Val's Habits

## ðŸ‘‹ Introduction
James Clear, writer of the critically-acclaimed Atomic Habits, declares that habits are the compound interest of self-improvement. During the second semester of my sophomore year (January 2024 - May 2024), I was able to set-up systems that manually and automatically recorded my habits. Understanding my habits can allow me to better fine-tune my systems to improve the skills and relationships I value. Right now, I have a lot of data but I haven't utilized any of it yet. Thus, this exploratory data analysis (EDA) comes into light.
## ðŸ’¡Project Description
This EDA focuses on Val's habits during his second semester of sophomore year. The goal is to extract data-driven insights that will be useful for his first semester of junior year. What observations can be made and how can this help? Specifically, the following data are used:
- `habits`: Sourced from a Google Form Val made that records daily habits such as number of toothbrushes in a day, minutes meditated, and overall mood.
- `exercise`: Sourced from Val's Strava account using the app's API. Strava is an app that lets users record their exercise data.
- `steps`: Val's step data, sourced from the Samsung Health app.
- `sleep`:  Val's sleep data, sourced from the Samsung Health app.
- `events`: A table containing significant academic or extracurricular events Val participated in.

## ðŸ“š Step 0: Imports and Reading Data

In [1]:
# Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly

In [2]:
# Styling and preferences
plt.style.use('ggplot')

In [3]:
# For manually created CSV data
habits = pd.read_csv('data/habits-edited.csv')
events = pd.read_csv('data/events.csv')

In [4]:
# For automated CSV data
steps = pd.read_csv('data/steps-converted.csv')
sleep = pd.read_csv('data/sleep-converted.csv')
exercise = pd.read_csv('data/exercise.csv')
devices = pd.read_csv('data/devices.csv')

- I edited the habits CSV file because there were date inconsistencies (thus the filename `habits-edited.csv`). I did not put a date field on the habit form when I made it so I only relied on the timestamp. But there were some days I answered the form more than once to "catch up" on days I was not able to answer. There were also a few days that were blank. I manually went through all dates to fix the timestamp. Luckily there were only around 126 rows. This is already a helpful insight for next semester's habit form: Add a date field.
- Downloading my health data was done through the Samsung Health app. The data provided consists of JSON files and a lot of CSV files. I decided to use the `com.samsung.shealth.tracker.pedometer_day_summary.[date of download].csv` for steps and `com.samsung.shealth.sleep.[date of download].csv` for sleep.
- Also, using `pd.read_csv` on these files produced a `ParserError` so I first imported them to Google Sheets and removed the first row. After downloading them again as CSV files, they're now converted to Pandas dataframes.
- Downloading my Strava exercise data was done through https://entorb.net/strava/. The app allowed me to skip the trouble of having to access Strava's API myself.
- Note to self: Possibly include screen time/usage data from mobile phone and tablet (when I gain the energy to do so). Current methods prove to be difficult.

## ðŸ¤” Step 1: Data Understanding

In [5]:
habits.iloc[0]

Timestamp                                                                                   1/15
Toothbrush                                                                                   2.0
Skincare                                                                                Complete
Daily mental well-being                                                                      3.0
Read                                                                                         Yes
Touch typing                                                                                  No
Exercise                                                                             Daily steps
Minutes meditated                                                                            5.0
What were you grateful for today?                                                         malena
Any notable wins today?                                                                      NaN
Any message for future Val?                                                                  NaN
Poop                                                                                         Yes
Type                                                                                       Daily
What went well this week?                                                                    NaN
Which goals did I NOT achieve? Which intentions did I NOT keep?                              NaN
What is my Most Important Task for this Week? How will I Make Sure I Get it Done?            NaN
 How can I Make Things Faster, Easier or Obsolete?                                           NaN
If I were to 10x my goals, what would I do to achieve them?                                  NaN
What am I NOT doing even though I know I should?                                             NaN
Math practice outside class in hours                                                         NaN
What was a win for you today? (It's perfectly fine to have none! ðŸ˜Š)                          NaN
Infinite scrolled? (more than 30 minutes of scrolling)                                       NaN
Name: 0, dtype: object

The bottom half of the columns are weekly open-ended questions I ended up not following because I found the questions long and tiresome to do. So, I'll focus on columns I consistenly answered.

In [6]:
habits['Timestamp']

0      1/15
1      1/16
2      1/17
3      1/18
4      1/19
       ...
122    5/16
123    5/17
124    5/18
125    5/19
126    5/20
Name: Timestamp, Length: 127, dtype: object

I'll need to convert the timestamp column into a proper datatype. But at least I already know that I'll be focusing on the data from January 15 to May 20, the official days of the semester.

In [7]:
events.head(3)

             event             type        date_start date_end
0  Samsung Mission  extracurricular  January 12, 2024      NaN
1  Samsung Mission  extracurricular           1/15/24      NaN
2  Samsung Mission  extracurricular           1/18/24      NaN

In [8]:
events['type'].unique()

array(['extracurricular', 'fun', 'hackathon', 'academic', 'long holiday',
       'long test'], dtype=object)

I'll need to convert the date columns into proper format as well. Moreover, I see that I have six main types of events.

In [9]:
steps.head(3)

,create_sh_ver,step_count,binning_data,active_time,recommendation,modify_sh_ver,run_step_count,update_time,source_package_name,create_time,...,speed,distance,calorie,walk_step_count,deviceuuid,pkg_name,healthy_step,achievement,datauuid,day_time
0,NaN,9985,e133e7fd-212e-4f0a-9e44-487e4373e2ea.binning_d...,4729744,6000,NaN,475,2023-12-18 17:12:05,com.sec.android.app.shealth,2023-12-18 4:53:19,...,1.674499,7919.9517,324.43960,9510,VfS0qUERdZ,com.sec.android.app.shealth,0,e133e7fd-212e-4f0a-9e44-487e4373e2ea.achieveme...,e133e7fd-212e-4f0a-9e44-487e4373e2ea,1702857600000
1,NaN,908,c2549c34-43e7-4607-a6d6-3b59e4d2186e.binning_d...,513471,6000,NaN,5,2023-12-18 4:53:19,com.sec.android.app.shealth,2023-12-18 4:53:19,...,1.326753,681.2500,32.42000,903,VfS0qUERdZ,com.sec.android.app.shealth,0,c2549c34-43e7-4607-a6d6-3b59e4d2186e.achieveme...,c2549c34-43e7-4607-a6d6-3b59e4d2186e,1702684800000
2,NaN,6381,a642decc-d8b4-4799-b5cc-4d7e5b0351d8.binning_d...,3488910,6000,NaN,125,2023-12-18 4:53:19,com.sec.android.app.shealth,2023-12-18 4:53:19,...,1.380428,4816.1904,205.31001,6256,VfS0qUERdZ,com.sec.android.app.shealth,0,a642decc-d8b4-4799-b5cc-4d7e5b0351d8.achieveme...,a642decc-d8b4-4799-b5cc-4d7e5b0351d8,1702771200000

In [10]:
steps.shape

(1390, 21)

In [11]:
steps.columns

Index(['create_sh_ver', 'step_count', 'binning_data', 'active_time',
       'recommendation', 'modify_sh_ver', 'run_step_count', 'update_time',
       'source_package_name', 'create_time', 'source_info', 'speed',
       'distance', 'calorie', 'walk_step_count', 'deviceuuid', 'pkg_name',
       'healthy_step', 'achievement', 'datauuid', 'day_time'],
      dtype='object')

First, there are a lot of columns for this dataset so I'll have to create a subset from it. There are also too many rows. The `deviceuuid` column describes what device was used to record the data. This implies that there are recorded entries with the same date but differing device IDs.

In [12]:
sleep.head(3)

,original_efficiency,mental_recovery,factor_01,factor_02,factor_03,factor_04,factor_05,factor_06,factor_07,factor_08,...,com.samsung.health.sleep.custom,com.samsung.health.sleep.modify_sh_ver,com.samsung.health.sleep.update_time,com.samsung.health.sleep.create_time,com.samsung.health.sleep.time_offset,com.samsung.health.sleep.deviceuuid,com.samsung.health.sleep.comment,com.samsung.health.sleep.pkg_name,com.samsung.health.sleep.end_time,com.samsung.health.sleep.datauuid
0,NaN,78.0,32.0,55.0,5.0,2.0,27.0,245.0,133.0,0.0,...,NaN,NaN,2023-12-18 4:53:19,2023-12-16 21:51:31,UTC+0800,iGosmEieUd,NaN,com.sec.android.app.shealth,2023-12-16 21:36:00,16f8cf4c-d949-4d40-b2cb-687457112eac
1,NaN,41.0,11.0,47.0,4.0,19.0,32.0,475.0,79.0,4.0,...,NaN,NaN,2023-12-18 4:53:19,2023-12-17 23:11:09,UTC+0800,iGosmEieUd,NaN,com.sec.android.app.shealth,2023-12-17 23:11:00,5f323226-adc6-4c95-b4a8-4beace795e8b
2,NaN,61.0,8.0,32.0,0.0,19.0,38.0,317.0,42.0,2.0,...,NaN,NaN,2023-12-18 23:04:39,2023-12-18 23:04:29,UTC+0800,iGosmEieUd,NaN,com.sec.android.app.shealth,2023-12-18 22:59:00,127d64de-2f7c-41c8-8ec6-61de5b7f58e8

In [13]:
sleep.shape

(277, 48)

In [14]:
sleep.columns

Index(['original_efficiency', 'mental_recovery', 'factor_01', 'factor_02',
       'factor_03', 'factor_04', 'factor_05', 'factor_06', 'factor_07',
       'factor_08', 'factor_09', 'factor_10', 'integrated_id',
       'has_sleep_data', 'bedtime_detection_delay',
       'wakeup_time_detection_delay', 'total_rem_duration', 'combined_id',
       'sleep_type', 'sleep_latency', 'data_version', 'physical_recovery',
       'original_wake_up_time', 'movement_awakening', 'is_integrated',
       'original_bed_time', 'goal_bed_time', 'quality', 'extra_data',
       'goal_wake_up_time', 'sleep_cycle', 'total_light_duration',
       'efficiency', 'sleep_score', 'sleep_duration', 'stage_analyzed_type',
       'com.samsung.health.sleep.create_sh_ver',
       'com.samsung.health.sleep.start_time',
       'com.samsung.health.sleep.custom',
       'com.samsung.health.sleep.modify_sh_ver',
       'com.samsung.health.sleep.update_time',
       'com.samsung.health.sleep.create_time',
       'com.samsung.health.sleep.time_offset',
       'com.samsung.health.sleep.deviceuuid',
       'com.samsung.health.sleep.comment', 'com.samsung.health.sleep.pkg_name',
       'com.samsung.health.sleep.end_time',
       'com.samsung.health.sleep.datauuid'],
      dtype='object')

This dataset has even more columns. I'm mainly interested in the high-level values such as sleep score, sleep time, among others.

In [15]:
exercise.head(3)

,id,type,x_gear_name,start_date_local,x_week,x_start_h,name,x_min,x_km,x_min/km,...,start_date,timezone,total_photo_count,trainer,upload_id,upload_id_str,utc_offset,x_date,x_elev_%,x_url
0,11500446337,Run,NaN,02.01.2024 17:11:00,2023-W53,17.2,Afternoon Run,42.8,6.11,7.01,...,02.01.2024 17:11:00,(GMT+00:00) GMT,0,0,NaN,NaN,0,2024-01-02,NaN,https://www.strava.com/activities/11500446337
1,11500452565,Run,NaN,04.01.2024 17:16:00,2023-W53,17.3,Afternoon Run,18.6,3.02,6.14,...,04.01.2024 17:16:00,(GMT+00:00) GMT,0,0,NaN,NaN,0,2024-01-04,NaN,https://www.strava.com/activities/11500452565
2,11500460588,Run,NaN,07.01.2024 18:41:00,2024-W01,18.7,Evening Run,11.0,2.05,5.38,...,07.01.2024 18:41:00,(GMT+00:00) GMT,0,0,NaN,NaN,0,2024-01-07,NaN,https://www.strava.com/activities/11500460588

In [16]:
exercise.shape

(71, 72)

In [17]:
exercise.columns

Index(['id', 'type', 'x_gear_name', 'start_date_local', 'x_week', 'x_start_h',
       'name', 'x_min', 'x_km', 'x_min/km', 'km/h', 'x_max_km/h', 'x_mi',
       'x_min/mi', 'x_mph', 'x_max_mph', 'total_elevation_gain', 'x_elev_m/km',
       'average_heartrate', 'max_heartrate', 'average_cadence',
       'average_watts', 'kilojoules', 'commute', 'private', 'visibility',
       'workout_type', 'x_nearest_city_start', 'x_start_locality',
       'x_end_locality', 'x_dist_start_end_km', 'start_latlng', 'end_latlng',
       'elev_low', 'elev_high', 'kudos_count', 'comment_count',
       'achievement_count', 'athlete', 'athlete_count', 'average_speed',
       'display_hide_heartrate_option', 'distance', 'elapsed_time',
       'external_id', 'flagged', 'from_accepted_tag', 'gear_id',
       'has_heartrate', 'has_kudoed', 'heartrate_opt_out', 'location_city',
       'location_country', 'location_state', 'manual', 'map', 'max_speed',
       'moving_time', 'photo_count', 'pr_count', 'resource_state',
       'sport_type', 'start_date', 'timezone', 'total_photo_count', 'trainer',
       'upload_id', 'upload_id_str', 'utc_offset', 'x_date', 'x_elev_%',
       'x_url'],
      dtype='object')

In [18]:
exercise.sport_type.unique()

array(['Run', 'WeightTraining', 'Hike'], dtype=object)

The same observations apply.

## ðŸ¤“ Step 2: Data Preparation
For each dataset, we'll do the following procesing steps:
- Drop irrelevant columns and rows
- Change datatypes
- Rename columns

Other forms of preparation will also be done depending on the nature of each dataset. Once everything's clean, we'll merge all dataframes.

In [19]:
# Some variables
start_date = pd.to_datetime('2024-01-15')
end_date = pd.to_datetime('2024-05-20')

### Habits

In [20]:
habits.columns

Index(['Timestamp', 'Toothbrush', 'Skincare', 'Daily mental well-being',
       'Read', 'Touch typing', 'Exercise', 'Minutes meditated',
       'What were you grateful for today?', 'Any notable wins today?',
       'Any message for future Val?', 'Poop', 'Type',
       'What went well this week?',
       'Which goals did I NOT achieve? Which intentions did I NOT keep?',
       'What is my Most Important Task for this Week? How will I Make Sure I Get it Done?',
       ' How can I Make Things Faster, Easier or Obsolete?',
       'If I were to 10x my goals, what would I do to achieve them?',
       'What am I NOT doing even though I know I should?',
       'Math practice outside class in hours',
       'What was a win for you today? (It's perfectly fine to have none! ðŸ˜Š)',
       'Infinite scrolled? (more than 30 minutes of scrolling)'],
      dtype='object')

In [21]:
habits.isna().sum()

Timestamp                                                                              0
Toothbrush                                                                             7
Skincare                                                                               7
Daily mental well-being                                                                7
Read                                                                                   7
Touch typing                                                                           7
Exercise                                                                               8
Minutes meditated                                                                      7
What were you grateful for today?                                                      7
Any notable wins today?                                                              127
Any message for future Val?                                                          127
Poop                                                                                   7
Type                                                                                   7
What went well this week?                                                            118
Which goals did I NOT achieve? Which intentions did I NOT keep?                      118
What is my Most Important Task for this Week? How will I Make Sure I Get it Done?    118
 How can I Make Things Faster, Easier or Obsolete?                                   118
If I were to 10x my goals, what would I do to achieve them?                          118
What am I NOT doing even though I know I should?                                     118
Math practice outside class in hours                                                  16
What was a win for you today? (It's perfectly fine to have none! ðŸ˜Š)                   26
Infinite scrolled? (more than 30 minutes of scrolling)                                26
dtype: int64

In [22]:
habits = habits[['Timestamp', 'Toothbrush', 'Skincare', 'Daily mental well-being',
       'Read', 'Touch typing', 'Exercise', 'Minutes meditated',
       'What were you grateful for today?', 
       # 'Any notable wins today?',
       # 'Any message for future Val?', 
        'Poop', 
       # 'Type',
       # 'What went well this week?',
       # 'Which goals did I NOT achieve? Which intentions did I NOT keep?',
       # 'What is my Most Important Task for this Week? How will I Make Sure I Get it Done?',
       # ' How can I Make Things Faster, Easier or Obsolete?',
       # 'If I were to 10x my goals, what would I do to achieve them?',
       # 'What am I NOT doing even though I know I should?',
       'Math practice outside class in hours',
       "What was a win for you today? (It's perfectly fine to have none! ðŸ˜Š)",
       'Infinite scrolled? (more than 30 minutes of scrolling)']].copy()

In [23]:
# Rename columns
habits.columns = 'date,toothbrush,skincare,mood,read,touch_type,exercise,minutes_meditated,grateful_for,poop,math_practice,win,infinite_scrolled'.split(',')

In [24]:
# Fix timestamp datatype
habits.date = pd.to_datetime(habits.date + '/2024', format='%m/%d/%Y')
# Turn to numeric
habits.toothbrush = pd.to_numeric(habits.toothbrush)
for col in ['read', 'touch_type', 'poop']:
    habits[col] = habits[col].map({'Yes': 1, 'No': 0})
habits.skincare = habits.skincare.map({'Complete': 1, 'Morning only': 0.5, 'Night only': 0.5, 'Incomplete': 0})

In [25]:
habits.head(3)

,date,toothbrush,skincare,mood,read,touch_type,exercise,minutes_meditated,grateful_for,poop,math_practice,win,infinite_scrolled
0,2024-01-15,2.0,1.0,3.0,1.0,0.0,Daily steps,5.0,malena,1.0,NaN,NaN,NaN
1,2024-01-16,1.0,0.5,3.0,1.0,0.0,Badminton,0.0,malena,0.0,NaN,NaN,NaN
2,2024-01-17,2.0,1.0,4.0,1.0,1.0,Walk,5.0,malena,1.0,NaN,NaN,NaN

### Events

In [26]:
events.date_start = pd.to_datetime(events.date_start, format='mixed')
events.date_end = pd.to_datetime(events.date_end, format='mixed')
events.columns = 'event,event_type,date,event_date_end'.split(',')

In [27]:
# Remove dates outside the semester
events = events[(events['date'] >= start_date) & (events['date'] <= end_date)].reset_index(drop=True).copy()

In [28]:
events.head()

             event       event_type       date event_date_end
0  Samsung Mission  extracurricular 2024-01-15            NaT
1  Samsung Mission  extracurricular 2024-01-18            NaT
2  Samsung Mission  extracurricular 2024-01-27            NaT
3  Samsung Mission  extracurricular 2024-02-02            NaT
4  Samsung Mission  extracurricular 2024-02-29            NaT

Everything looks good with this dataset. We can move on.

### Steps

In [29]:
steps.head(3)

,create_sh_ver,step_count,binning_data,active_time,recommendation,modify_sh_ver,run_step_count,update_time,source_package_name,create_time,...,speed,distance,calorie,walk_step_count,deviceuuid,pkg_name,healthy_step,achievement,datauuid,day_time
0,NaN,9985,e133e7fd-212e-4f0a-9e44-487e4373e2ea.binning_d...,4729744,6000,NaN,475,2023-12-18 17:12:05,com.sec.android.app.shealth,2023-12-18 4:53:19,...,1.674499,7919.9517,324.43960,9510,VfS0qUERdZ,com.sec.android.app.shealth,0,e133e7fd-212e-4f0a-9e44-487e4373e2ea.achieveme...,e133e7fd-212e-4f0a-9e44-487e4373e2ea,1702857600000
1,NaN,908,c2549c34-43e7-4607-a6d6-3b59e4d2186e.binning_d...,513471,6000,NaN,5,2023-12-18 4:53:19,com.sec.android.app.shealth,2023-12-18 4:53:19,...,1.326753,681.2500,32.42000,903,VfS0qUERdZ,com.sec.android.app.shealth,0,c2549c34-43e7-4607-a6d6-3b59e4d2186e.achieveme...,c2549c34-43e7-4607-a6d6-3b59e4d2186e,1702684800000
2,NaN,6381,a642decc-d8b4-4799-b5cc-4d7e5b0351d8.binning_d...,3488910,6000,NaN,125,2023-12-18 4:53:19,com.sec.android.app.shealth,2023-12-18 4:53:19,...,1.380428,4816.1904,205.31001,6256,VfS0qUERdZ,com.sec.android.app.shealth,0,a642decc-d8b4-4799-b5cc-4d7e5b0351d8.achieveme...,a642decc-d8b4-4799-b5cc-4d7e5b0351d8,1702771200000

In [30]:
steps.columns

Index(['create_sh_ver', 'step_count', 'binning_data', 'active_time',
       'recommendation', 'modify_sh_ver', 'run_step_count', 'update_time',
       'source_package_name', 'create_time', 'source_info', 'speed',
       'distance', 'calorie', 'walk_step_count', 'deviceuuid', 'pkg_name',
       'healthy_step', 'achievement', 'datauuid', 'day_time'],
      dtype='object')

In [31]:
steps.shape

(1390, 21)

There are 1390 rows in the dataset. This means I need to filter rows that contain data recorded by `device_id`.

In [32]:
# Drop irrelevant columns
steps = steps[['update_time','run_step_count', 'walk_step_count','distance','calorie','deviceuuid']].copy()

In [33]:
# Rename columns
steps.columns = 'date,run_step,walk_step,step_distance,step_calorie,id'.split(',')

In [34]:
steps.dtypes

date              object
run_step           int64
walk_step          int64
step_distance    float64
step_calorie     float64
id                object
dtype: object

In [35]:
# Fix timestamp
steps.date = pd.to_datetime(steps.date).dt.normalize()
# Drop irrelevant rows
steps = steps[(steps['date'] >= start_date) & (steps['date'] <= end_date)].reset_index(drop=True)

In [36]:
steps.shape

(759, 6)

In [37]:
steps = steps.groupby(['date','id'], as_index=False).sum()

In [38]:
steps['step_count'] = steps.run_step + steps.walk_step

In [39]:
steps[steps.date == pd.to_datetime('2024-05-11')]

,date,id,run_step,walk_step,step_distance,step_calorie,step_count
427,2024-05-11,VfS0qUERdZ,12181,6742,16760.320,970.3463,18923
428,2024-05-11,iGosmEieUd,10795,6020,12586.854,734.3240,16815
429,2024-05-11,rQMD+kro3I,10692,5841,16097.930,927.1900,16533

After comparing values in this dataset to the Samsung Health in my phone, I make the following observations:
- The `step_count` value of rows with the `VfS0qUERdZ` ID matches the step count in the Samsung Health app.
- Some rows do not have this ID. Summing up all of the `step_count` values from other ID types is roughly matches the step count in the Samsung Health app.

Thus, I will implement the following algorithm: Prioritize the rows with the `VfS0qUERdZ` ID. If there is no such ID, take the sum of the other rows.

In [40]:
preferred_id = 'VfS0qUERdZ'

def process_group(group):
    if (group['id'] == preferred_id).any():
        return group[group['id'] == preferred_id]
    else:
        summed_row = group.sum(numeric_only=True)
        summed_row['date'] = group['date'].iloc[0]
        summed_row['id'] = 'summed'
        return pd.DataFrame([summed_row])

# Group by date and apply the function
steps_processed = steps.groupby('date',as_index=False).apply(process_group).reset_index(drop=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_4800\3065434751.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  steps_processed = steps.groupby('date',as_index=False).apply(process_group).reset_index(drop=True)

In [41]:
steps = steps_processed[['date', 'run_step', 'walk_step', 'step_count', 'step_distance', 'step_calorie']]

In [42]:
steps.head(3)

        date  run_step  walk_step  step_count  step_distance  step_calorie
0 2024-01-15      77.0    12885.0     12962.0      10028.371     405.33997
1 2024-01-16     288.0    14498.0     14786.0      11612.133     472.24976
2 2024-01-17     154.0     7959.0      8113.0       6372.730     261.04990

### Sleep

In [43]:
sleep[sleep.has_sleep_data==0].describe()

,original_efficiency,mental_recovery,factor_01,factor_02,factor_03,factor_04,factor_05,factor_06,factor_07,factor_08,...,sleep_cycle,total_light_duration,efficiency,sleep_score,sleep_duration,stage_analyzed_type,com.samsung.health.sleep.create_sh_ver,com.samsung.health.sleep.custom,com.samsung.health.sleep.modify_sh_ver,com.samsung.health.sleep.comment
count,0.0,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,...,239.000000,20.000000,240.000000,239.000000,239.000000,20.0,2.270000e+02,0.0,2.270000e+02,0.0
mean,NaN,62.803347,29.686192,49.723849,6.807531,10.661088,36.100418,357.485356,112.230126,1.276151,...,3.589958,179.000000,89.237500,73.087866,357.694561,1.0,6.264794e+07,NaN,6.264967e+07,NaN
std,NaN,19.095267,16.949934,20.798531,6.610771,8.235899,16.930355,126.543673,53.410112,1.324897,...,1.576902,85.898961,6.694612,14.244438,126.379359,0.0,2.709050e+04,NaN,2.850493e+04,NaN
min,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000,0.000000,...,0.000000,24.000000,0.000000,28.000000,21.000000,1.0,6.260063e+07,NaN,6.260063e+07,NaN
25%,NaN,54.000000,17.500000,37.500000,2.000000,5.000000,24.000000,301.000000,73.000000,0.000000,...,3.000000,105.000000,88.000000,64.000000,301.000000,1.0,6.262003e+07,NaN,6.262003e+07,NaN
50%,NaN,67.000000,29.000000,52.000000,5.000000,10.000000,36.000000,385.000000,105.000000,1.000000,...,4.000000,207.000000,90.000000,78.000000,385.000000,1.0,6.265013e+07,NaN,6.266001e+07,NaN
75%,NaN,77.000000,41.000000,65.000000,10.000000,15.000000,48.000000,443.500000,152.500000,2.000000,...,5.000000,257.250000,92.000000,84.000000,443.500000,1.0,6.267003e+07,NaN,6.267007e+07,NaN
max,NaN,93.000000,76.000000,103.000000,43.000000,50.000000,87.000000,560.000000,307.000000,6.000000,...,7.000000,281.000000,100.000000,93.000000,560.000000,1.0,6.270125e+07,NaN,6.270161e+07,NaN

I'm currently confused what does `has_sleep_data` imply. Clearly, there's numbers on columns such as `sleep_score`. For now, I'll choose to ignore it. I was not able to find a data dictionary for these files.

In [44]:
sleep.columns

Index(['original_efficiency', 'mental_recovery', 'factor_01', 'factor_02',
       'factor_03', 'factor_04', 'factor_05', 'factor_06', 'factor_07',
       'factor_08', 'factor_09', 'factor_10', 'integrated_id',
       'has_sleep_data', 'bedtime_detection_delay',
       'wakeup_time_detection_delay', 'total_rem_duration', 'combined_id',
       'sleep_type', 'sleep_latency', 'data_version', 'physical_recovery',
       'original_wake_up_time', 'movement_awakening', 'is_integrated',
       'original_bed_time', 'goal_bed_time', 'quality', 'extra_data',
       'goal_wake_up_time', 'sleep_cycle', 'total_light_duration',
       'efficiency', 'sleep_score', 'sleep_duration', 'stage_analyzed_type',
       'com.samsung.health.sleep.create_sh_ver',
       'com.samsung.health.sleep.start_time',
       'com.samsung.health.sleep.custom',
       'com.samsung.health.sleep.modify_sh_ver',
       'com.samsung.health.sleep.update_time',
       'com.samsung.health.sleep.create_time',
       'com.samsung.health.sleep.time_offset',
       'com.samsung.health.sleep.deviceuuid',
       'com.samsung.health.sleep.comment', 'com.samsung.health.sleep.pkg_name',
       'com.samsung.health.sleep.end_time',
       'com.samsung.health.sleep.datauuid'],
      dtype='object')

In [45]:
missing_counts = sleep.isna().sum().reset_index()
missing_counts[missing_counts[0] <= 38]

                                   index   0
1                        mental_recovery  38
2                              factor_01  38
3                              factor_02  38
4                              factor_03  38
5                              factor_04  38
6                              factor_05  38
7                              factor_06  38
8                              factor_07  38
9                              factor_08  38
10                             factor_09  38
13                        has_sleep_data   0
18                            sleep_type  38
20                          data_version  38
21                     physical_recovery  38
23                    movement_awakening  38
28                            extra_data  21
30                           sleep_cycle  38
32                            efficiency   0
33                           sleep_score  38
34                        sleep_duration  38
37   com.samsung.health.sleep.start_time   0
40  com.samsung.health.sleep.update_time   0
41  com.samsung.health.sleep.create_time   0
42  com.samsung.health.sleep.time_offset   0
43   com.samsung.health.sleep.deviceuuid   0
45     com.samsung.health.sleep.pkg_name   0
46     com.samsung.health.sleep.end_time   0
47     com.samsung.health.sleep.datauuid   0

In [46]:
sleep = sleep[['com.samsung.health.sleep.start_time',
               'com.samsung.health.sleep.end_time',
               'mental_recovery', 'physical_recovery',
               'efficiency', 'sleep_score', 'sleep_duration', 'sleep_cycle']].copy()

I want to take columns that most rows has a value on.

In [47]:
sleep.columns = 'start,end,mental_recovery,physical_recovery,efficiency,sleep_score,sleep_duration,sleep_cycle'.split(',')

In [48]:
sleep.tail()

,start,end,mental_recovery,physical_recovery,efficiency,sleep_score,sleep_duration,sleep_cycle
272,2024-07-29 6:33:00,2024-07-29 7:49:00,7.0,16.0,96,45.0,76.0,0.0
273,2024-07-29 14:38:00,2024-07-29 18:23:00,22.0,27.0,82,39.0,225.0,2.0
274,2024-07-29 19:02:00,2024-07-29 19:26:00,5.0,5.0,100,28.0,24.0,0.0
275,2024-07-29 19:51:00,2024-07-29 20:34:00,6.0,6.0,100,28.0,43.0,0.0
276,2024-07-30 15:08:00,2024-07-30 22:33:00,89.0,74.0,89,71.0,445.0,5.0

I find the `start` column fishy. I am sure that I did not sleep in the afternoon during the last day of finals week. I look back at the columns of the dataset and see the sneaky `com.samsung.health.sleep.time_offset`.

In [49]:
pd.read_csv('data/sleep-converted.csv')['com.samsung.health.sleep.time_offset'].unique()

array(['UTC+0800'], dtype=object)

This means that all `start` and `end` values must be offset by 8 hours.

In [50]:
# Convert sleep duration into hours
sleep.sleep_duration = round(sleep.sleep_duration/60,2)

In [51]:
# Convert to datetime
sleep.start = pd.to_datetime(sleep.start) + pd.Timedelta(hours=8)
sleep.end = pd.to_datetime(sleep.end) + pd.Timedelta(hours=8)

# Create 'date' column that considers sleep entries after midnight but before 6AM as belonging to the previous day
# Because for example, if I slept on August 2 at 1:00 AM, this means this was my sleep data for August 1 (the previous day).
sleep['date'] = sleep.start - pd.Timedelta(hours=6)
sleep['date'] = sleep['date'].dt.normalize()

# Filter out dates not belonging to the semester
sleep = sleep[(sleep['date'] >= start_date) & (sleep['date'] <= end_date)].reset_index(drop=True).copy()

At this point, I need to figure out the actual date when I slept and remove rows that are not bedtime data (i.e. not naps). But, I want the `sleep_duration` column to represent the sum of the total hours I've slept on a day, inlcuding naps. This is also what Samsung Health does. I used ChatGPT for generating the code.

In [52]:
# Calculate total sleep duration by date
total_sleep_duration = sleep.groupby('date')['sleep_duration'].sum().reset_index()
total_sleep_duration.rename(columns={'sleep_duration': 'total_sleep_duration'}, inplace=True)

# Identify the latest bedtime entry per date
latest_bedtime = sleep.loc[sleep.groupby('date')['start'].idxmax()]

# # Merge total sleep duration with the latest bedtime entry
sleep = pd.merge(latest_bedtime, total_sleep_duration, on='date')

In [53]:
sleep.rename(columns={'start':'sleep_start','end':'sleep_end','efficiency':'sleep_efficiency'}, inplace=True)

In [54]:
sleep.tail(3)

,sleep_start,sleep_end,mental_recovery,physical_recovery,sleep_efficiency,sleep_score,sleep_duration,sleep_cycle,date,total_sleep_duration
119,2024-05-19 01:42:00,2024-05-19 08:53:00,82.0,54.0,91,80.0,7.18,7.0,2024-05-18,7.18
120,2024-05-20 01:07:00,2024-05-20 07:01:00,73.0,60.0,94,77.0,5.90,4.0,2024-05-19,5.90
121,2024-05-21 00:13:00,2024-05-21 07:56:00,15.0,69.0,87,80.0,7.72,4.0,2024-05-20,7.72

The data looks good. It does not match the data on my Samsung Health app because the app does not apply offset to determine `date`. So, in the app, it says I slept for 5.90 hours on May 20, but I know that this is my sleep data for May 19.

### Exercise

In [55]:
exercise.head(3)

,id,type,x_gear_name,start_date_local,x_week,x_start_h,name,x_min,x_km,x_min/km,...,start_date,timezone,total_photo_count,trainer,upload_id,upload_id_str,utc_offset,x_date,x_elev_%,x_url
0,11500446337,Run,NaN,02.01.2024 17:11:00,2023-W53,17.2,Afternoon Run,42.8,6.11,7.01,...,02.01.2024 17:11:00,(GMT+00:00) GMT,0,0,NaN,NaN,0,2024-01-02,NaN,https://www.strava.com/activities/11500446337
1,11500452565,Run,NaN,04.01.2024 17:16:00,2023-W53,17.3,Afternoon Run,18.6,3.02,6.14,...,04.01.2024 17:16:00,(GMT+00:00) GMT,0,0,NaN,NaN,0,2024-01-04,NaN,https://www.strava.com/activities/11500452565
2,11500460588,Run,NaN,07.01.2024 18:41:00,2024-W01,18.7,Evening Run,11.0,2.05,5.38,...,07.01.2024 18:41:00,(GMT+00:00) GMT,0,0,NaN,NaN,0,2024-01-07,NaN,https://www.strava.com/activities/11500460588

In [56]:
exercise.columns

Index(['id', 'type', 'x_gear_name', 'start_date_local', 'x_week', 'x_start_h',
       'name', 'x_min', 'x_km', 'x_min/km', 'km/h', 'x_max_km/h', 'x_mi',
       'x_min/mi', 'x_mph', 'x_max_mph', 'total_elevation_gain', 'x_elev_m/km',
       'average_heartrate', 'max_heartrate', 'average_cadence',
       'average_watts', 'kilojoules', 'commute', 'private', 'visibility',
       'workout_type', 'x_nearest_city_start', 'x_start_locality',
       'x_end_locality', 'x_dist_start_end_km', 'start_latlng', 'end_latlng',
       'elev_low', 'elev_high', 'kudos_count', 'comment_count',
       'achievement_count', 'athlete', 'athlete_count', 'average_speed',
       'display_hide_heartrate_option', 'distance', 'elapsed_time',
       'external_id', 'flagged', 'from_accepted_tag', 'gear_id',
       'has_heartrate', 'has_kudoed', 'heartrate_opt_out', 'location_city',
       'location_country', 'location_state', 'manual', 'map', 'max_speed',
       'moving_time', 'photo_count', 'pr_count', 'resource_state',
       'sport_type', 'start_date', 'timezone', 'total_photo_count', 'trainer',
       'upload_id', 'upload_id_str', 'utc_offset', 'x_date', 'x_elev_%',
       'x_url'],
      dtype='object')

In [57]:
exercise.head()[['x_km', 'distance', 'start_date_local', 'start_date', 'x_date', 'x_min', 'moving_time']]

,x_km,distance,start_date_local,start_date,x_date,x_min,moving_time
0,6.11,6110.0,02.01.2024 17:11:00,02.01.2024 17:11:00,2024-01-02,42.8,2570
1,3.02,3020.0,04.01.2024 17:16:00,04.01.2024 17:16:00,2024-01-04,18.6,1113
2,2.05,2050.0,07.01.2024 18:41:00,07.01.2024 18:41:00,2024-01-07,11.0,662
3,2.02,2020.0,08.01.2024 07:56:00,08.01.2024 07:56:00,2024-01-08,12.2,732
4,10.03,10030.0,14.01.2024 16:46:00,14.01.2024 16:46:00,2024-01-14,70.7,4243

Columns 1-2 differ in units. Columns 3-4 are equivalent and column 5 just removes the specific time. Column 6-7 differ also in units.

In [58]:
exercise = exercise[[
    'x_date',
    'start_date_local',
    'sport_type',
    'x_km',
    'x_min']].copy()

# Rename columns
exercise.columns = 'date,workout_start_date,workout,workout_distance,workout_duration'.split(',')

In [59]:
# Turn date column into datetime
exercise.date = pd.to_datetime(exercise.date)
exercise.workout_start_date = pd.to_datetime(exercise.workout_start_date, dayfirst=True)
# Filter date
exercise = exercise[(exercise['date'] >= start_date) & (exercise['date'] <= end_date)].reset_index(drop=True).copy()

In [60]:
exercise.head(3)

        date  workout_start_date workout  workout_distance  workout_duration
0 2024-01-18 2024-01-18 18:10:00     Run              5.79              46.8
1 2024-01-19 2024-01-19 17:41:00     Run              4.08              43.8
2 2024-01-21 2024-01-21 16:30:00     Run              5.10              59.5

In [61]:
exercise.shape

(23, 5)

All of our datasets are now clean. We can now merge them into a single dataframe.

### Merging dataframes

In [62]:
to_merge = [events, steps, sleep, exercise]
df = habits
for i in to_merge:
    df = pd.merge(df, i, on='date', how='outer')

In [65]:
df.head(3)

,date,toothbrush,skincare,mood,read,touch_type,exercise,minutes_meditated,grateful_for,poop,...,physical_recovery,sleep_efficiency,sleep_score,sleep_duration,sleep_cycle,total_sleep_duration,workout_start_date,workout,workout_distance,workout_duration
0,2024-01-15,2.0,1.0,3.0,1.0,0.0,Daily steps,5.0,malena,1.0,...,75.0,92.0,76.0,5.27,4.0,5.27,NaT,NaN,NaN,NaN
1,2024-01-16,1.0,0.5,3.0,1.0,0.0,Badminton,0.0,malena,0.0,...,54.0,93.0,76.0,6.38,5.0,8.43,NaT,NaN,NaN,NaN
2,2024-01-17,2.0,1.0,4.0,1.0,1.0,Walk,5.0,malena,1.0,...,63.0,87.0,81.0,6.90,4.0,6.90,NaT,NaN,NaN,NaN

In [64]:
df.shape

(127, 34)

The merging is succesful and there are no duplicated rows. I prepared a data dictionary for this merged dataframe for reference.

In [71]:
pd.set_option('display.max_colwidth', None)
data_dictionary = pd.read_csv('data/data_dictionary.csv')
data_dictionary

,Column Name,Data Type,Source,Description
0,date,datetime64[ns],all,The date of the recorded data
1,toothbrush,float64,habits,Number of times teeth were brushed
2,skincare,float64,habits,Number of skincare routines completed
3,mood,float64,habits,Mood status recorded (from 1-5)
4,read,float64,habits,"Binary indicator (1 for yes, 0 for no) if reading a book was done"
5,touch_type,float64,habits,"Binary indicator (1 for yes, 0 for no) if touch typing practice was done"
6,exercise,object,habits,"Type of exercise performed (e.g. Running, Yoga)"
7,minutes_meditated,float64,habits,Number of minutes spent meditating
8,grateful_for,object,habits,One thing Val is grateful for that day
9,poop,float64,habits,"Binary indicator (1 for yes, 0 for no) if at least one bowel movement was done"
10,math_practice,float64,habits,Number of minutes spent on math practice excluding class lectures
11,win,object,habits,One small win for Val that day
12,infinite_scrolled,object,habits,"Binary indicator (1 for yes, 0 for no) if Val scrolled for more than 30 minutes"
13,event,object,events,Name of the event
14,event_type,object,events,"Type of event (e.g. Samsung Ambassadorship, Hackathon, Long test, etc.)"
15,event_date_end,datetime64[ns],events,End date and time of the event
16,run_step,float64,steps,Number of steps taken while running
17,walk_step,float64,steps,Number of steps taken while walking
18,step_count,float64,steps,Total number of steps taken
19,step_distance,float64,steps,Total distance covered in steps (in meters)
20,step_calorie,float64,steps,Calories burned from steps
21,sleep_start,datetime64[ns],sleep,Start time of sleep
22,sleep_end,datetime64[ns],sleep,End time of sleep
23,mental_recovery,float64,sleep,Mental recovery score from sleep
24,physical_recovery,float64,sleep,Physical recovery score from sleep
25,sleep_efficiency,float64,sleep,Percentage of sleep efficiency
26,sleep_score,float64,sleep,Overall sleep quality score
27,sleep_duration,float64,sleep,Duration of sleep in hours
28,sleep_cycle,float64,sleep,Number of sleep cycles completed
29,total_sleep_duration,float64,sleep,Total sleep duration including naps (in hours)
30,workout_start_date,datetime64[ns],exercise,Start date and time of workout
31,workout,object,exercise,"Type of workout performed (Running, Weight Training)"
32,workout_distance,float64,exercise,Distance covered during Running workout (in kilometers)
33,workout_duration,float64,exercise,Duration of the workout (in minutes)

### Data Imputation
I'll base the imputation on my knowledge on the datasets.

In [72]:
df.isna().sum()

date                      0
toothbrush                7
skincare                  7
mood                      7
read                      7
touch_type                7
exercise                  8
minutes_meditated         7
grateful_for              7
poop                      7
math_practice            16
win                      26
infinite_scrolled        26
event                   101
event_type              101
event_date_end          122
run_step                  5
walk_step                 5
step_count                5
step_distance             5
step_calorie              5
sleep_start               5
sleep_end                 5
mental_recovery           5
physical_recovery         5
sleep_efficiency          5
sleep_score               5
sleep_duration            5
sleep_cycle               5
total_sleep_duration      5
workout_start_date      104
workout                 104
workout_distance        104
workout_duration        104
dtype: int64

In [ ]:
df_original = df.copy()

# # Categorical features
# to_fill_with_none = ['event', 'event_type', 'workout']
# for i in to_fill_with_none:
#     df[i] = df[i].fillna('None')

## ðŸ”Ž Feature Understanding